/*Stylesheet for Summit Web Solutions
Copyright @ kylebaskin.com*/

@font-face {
  font-family: 'Kumbh Sans Light';
  src: url('fonts/KumbhSans-Light.ttf');
}
@font-face {
  font-family: 'Kumbh Sans Regular';
  src: url('fonts/KumbhSans-Regular.ttf');
}
@font-face {
  font-family: 'Kumbh Sans Bold';
  src: url('fonts/KumbhSans-Bold.ttf');
}

p {
  font-family: 'Kumbh Sans Regular';
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: 1.4px;
}
h1, h2, h3, h4, h5 {
  font-family: 'Kumbh Sans Bold';
  font-size: 25px;
  line-height: 1.2;
  letter-spacing: 1.4px;
}

body{
  background: linear-gradient(to bottom, #23757d 40px, #329ea8 490px, transparent 180px) no-repeat, url('images/background_swirl.png') no-repeat 80% 481px / 110vw 60vw;
  font-family: 'Kumbh Sans Regular';
  letter-spacing: 1.4px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav-burger {
  background: url('images/icons/burger_menu.png') no-repeat;
  background-size: contain;
  border: none;
  height: 30px;
  width: 30px;
}
.logo{
  width: 150px;
  height: auto;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.intro{
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.in-color{
  color: white;
}
.intro-title{
  max-width: 400px;
  margin-bottom: 0;
}
.intro-description{
  max-width: 300px;
}
.btn{
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-family: 'Kumbh Sans Bold';
  font-size: 17px;
  letter-spacing: 1.4px;
  background-color: #329ea8;
  color: white;
}
.intro-button{
  background-color: white;
  color: black;
}
.intro-button-and-pic{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero-img{
  padding-top: 20px;
  width: 375px;
  height: auto;
}
@media screen and (max-width: 420px) {
  .hero-img{
    width: 300px;
    height: auto;
  }
}
@media screen and (max-width: 340px) {
  .hero-img{
    width: 250px;
    height: auto;
  }
}
.what-we-do{
  padding-top: 125px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading{
  text-transform: uppercase;
}
.icon{
  width: 175px;
}
.description{
  text-align: center;
}
.differentiators-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 125px;
}
.differentiator{
  text-align: center;
}
.heading2{
  font-size: 22px;
  margin: 0 auto;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 30px;
  max-width: 300px;
  color: #329ea8;
}
.sub-icon{
  padding-bottom: 20px;
}
.dif-description{
  padding-bottom: 60px;
}
.pricing-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pricing-pic{
  width: 300px;
  height: auto;
}
@media screen and (max-width: 420px) {
  .pricing-pic{
    width: 250px;
    height: auto;
  }
}
.pricing-heading{

}
h1 span{
  color: #329ea8;
}
